language: python

# Use container based infrastructure
sudo: false

env:
  matrix:
    - TOXENV=flake8
    - TOXENV=py35-django110-cms34
    - TOXENV=py35-django19-cms34
    - TOXENV=py35-django19-cms33
    - TOXENV=py35-django19-cms32
    - TOXENV=py35-django18-cms34
    - TOXENV=py35-django18-cms33
    - TOXENV=py35-django18-cms32
    - TOXENV=py34-django110-cms34
    - TOXENV=py34-django19-cms34
    - TOXENV=py34-django19-cms33
    - TOXENV=py34-django19-cms32
    - TOXENV=py34-django18-cms34
    - TOXENV=py34-django18-cms33
    - TOXENV=py34-django18-cms32
    - TOXENV=py27-django110-cms34
    - TOXENV=py27-django19-cms34
    - TOXENV=py27-django19-cms33
    - TOXENV=py27-django19-cms32
    - TOXENV=py27-django18-cms34
    - TOXENV=py27-django18-cms33
    - TOXENV=py27-django18-cms32


cache:
  directories:
    - $HOME/.wheelhouse

install:
  - pip install tox
  - pip install coveralls

script: COMMAND='coverage run' tox -e"$TOXENV"

after_success: coveralls

notifications:
  webhooks: http://addons.us-iad-rs.aldryn.io/en/travis-endpoint/
