django>=1.5.1,<1.7 # dictated by current django-appdata dependency
coverage
coveralls
mock>=1.0.1
nose>=1.3.0
django-nose>=1.2
flake8>=2.1.0
tox>=1.7.0
djangocms-helper
djangocms-text-ckeditor
aldryn-people
-e git+https://github.com/yakky/django-cms/@feature/appspaced_apphooks#egg=django-cms
-e git+git@github.com:aldryn/aldryn-newsblog@feature/apphook_config#egg=aldryn-newsblog
django-appdata

# Additional test requirements go here
