mock>=1.0.1
nose>=1.3.0
django-nose>=1.2
flake8>=2.1.0
tox>=1.7.0
djangocms-helper
pillow
django-parler>=1.4

# Change after release new versions of django-appdata:
#django-appdata>=0.2.0
https://github.com/vThaian/django-appdata/archive/add-django-21-support.zip
